{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "defaultParams": true,
    "destructuring": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "templateStrings": true,
    "classes": true,
    "forOf": false,
    "generators": false,
    "templateStrings": true,
    "jsx": true
  },
  "rules": {
    "array-bracket-spacing": [ 1, "always" ],
    "space-in-parens": [ 0, "always" ],
    "default-case": 2,
    "dot-notation": 0,
    "guard-for-in": 1,
    "valid-jsdoc": [ 2, { "prefer": { "return": "return" } } ],
    "new-cap": [1, {"capIsNew": false, "newIsCap": true}],
    "no-new": 0,
    "no-else-return": 1,
    "no-self-compare": 1,
    "no-param-reassign": 2,
    "no-use-before-define": [ 2, "nofunc" ],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-var": 0,
    "radix": 2,
    "quotes": [ 2, "single", "avoid-escape" ],
    "no-throw-literal": 1,
    "brace-style": [ 2, "stroustrup", { "allowSingleLine": true } ],
    "computed-property-spacing": [ 2, "always" ],
    "camelcase": 1,
    "comma-style": 1
  },
  "globals": {
    "window": false,
    "document": false,
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "define": false,
    "describe": false,
    "expect": false,
    "inject": false,
    "it": false,
    "jasmine": false,
    "require": false,
    "runs": false,
    "spyOn": false,
    "waitsFor": false,
    "xdescribe": false,
    "xit": false
  },
  "plugins": [
    "react"
  ]
}
